.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 4px solid rgba(111, 0, 255, 0.1);
    border-top: 4px solid var(--color-primary);
    border-radius: 50%;
}